<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <title>Document</title>
</head>

<body>
    <header class="h-[10vh] bg-gray-800 flex justify-center items-end gap-4 mb-4 text-white">
        <a href="/"><p class="cursor-pointer hover:opacity-50">Home</p></a>
        <a href="/about"><p class="cursor-pointer hover:opacity-50">About</p></a>
        <a href="/contact"><p class="cursor-pointer hover:opacity-50">Contact</p></a>
    </header>



