<%- include('partials/header.ejs')  %>

    <div class="flex h-[80vh] items-center justify-center">
        <p class="w-[80vw]">
            This blog post is about tech and programming.
            I will be sharing all my thoughts about programming, the new trends in programming here.
            You can subscribe to my newsletter so that you don't miss anything of my next posts
        </p>
    </div>

<%- include('partials/footer.ejs')  %>