<%- include('partials/header.ejs')  %>

    <div class="flex h-[80vh] items-center justify-center">
        <div class="flex w-[30vw]  h-64 flex-col gap-8 items-center justify-center">
            <h1 class="text-lg">Contact me:</h1>
            <div class="text-sm">
                Facebook
            </div>
            <div class="text-sm">
                LinkedIn
            </div>
            <div class="text-sm">
                X
            </div>
            <div class="text-sm">
                Gmail
            </div>
        </div>
    </div>

<%- include('partials/footer.ejs')  %>