<%- include('partials/header.ejs')  %>

    <div class="flex h-[80vh] items-center justify-center">
        <div class="flex w-[30vw]  h-64 flex-col gap-8 items-center justify-center">
            <h1 class="text-lg">Contact me:</h1>
            <a href="https://www.facebook.com/francois.muhumbania.3/">
                <div class="text-sm cursor-pointer">
                    Facebook
                </div>
            </a>
            
            <a href="https://www.linkedin.com/in/franklin-muhumbania-46b158256/">
                <div class="text-sm cursor-pointer">
                    LinkedIn
                </div>
            </a>
            
            <a href="https://twitter.com/franklinmuhum2">
                <div class="text-sm cursor-pointer">
                    X
                </div>
            </a>
           
            <a href="#">
                <div class="text-sm cursor-pointer">
                    franklinmuhumbania@gmail.com
                </div>
            </a>
        </div>
    </div>

<%- include('partials/footer.ejs')  %>