<%- include('partials/header.ejs')  %>

    <div class="flex h-[80vh] items-center justify-center">
        <div class="flex w-[50vw] bg-red-400">
            <h1>Contact me:</h1>
            <div>
                Facebook
            </div>
            <div>
                LinkedIn
            </div>
            <div>
                X
            </div>
            <div>
                Gmail
            </div>
        </div>
    </div>

<%- include('partials/footer.ejs')  %>