<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/create" method="POST">
        <label for="title">Post Title:</label>
        <input type="text" id="title" name="title" required>

        <!-- Textarea Input -->
        <label for="body">Post body:</label>
        <textarea id="body" name="body" rows="4" required></textarea>

        <!-- Submit Button -->
        <button type="submit">Create post</button>
    </form>
</body>
</html>