<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width='device-width', initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <title>Document</title>
</head>
<body class="px-10">
    <div class="flex flex-row">
        <img src="images/thumbnail.png" class="h-72 w-72">
        <div class="">
            <h1 class="text-lg text-red-500">Embarking on the Tech Odyssey</h1>
            <p>
                Exploring the vast landscape of technology, we find ourselves immersed in a world of constant innovation. From the latest advancements in artificial intelligence to the intricacies of web development, the journey is both exciting and challenging. In this blog post, we delve into the realm of emerging technologies, shedding light on their impact on our daily lives. Join us on this exploration as we navigate through the ever-evolving digital landscape, uncovering the stories that shape the future of technology
            </p>
        </div>
    </div>
</body>
</html>