<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <title>Document</title>
</head>
<body>
    <header class="h-[10vh] bg-gray-800 mb-10">

    </header>
    <div class="flex flex-col items-center">
        <img src="images/thumbnail.png" class="h-72 w-72 rounded-lg shadow-sm">
        <div class="flex flex-col gap-0 p-1 w-[80vw] md:w-[50vw] mb-20 rounded-lg text-justify">
            <h1 class="text-lg text-black">This is the title</h1>
            <p class="text-sm text-gray-500 font-sans">
                Exploring the vast landscape of technology, we find ourselves immersed in a world of constant innovation. From the latest advancements in artificial intelligence to the intricacies of web development, the journey is both exciting and challenging. In this blog post, we delve into the realm of emerging technologies, shedding light on their impact on our daily lives. Join us on this exploration as we navigate through the ever-evolving digital landscape, uncovering the stories that shape the future of technology
            </p>
        </div>
    </div>
    <footer class="h-[10vh] bg-gray-800 fixed bottom-0 left-0 right-0">

    </footer>
</body>
</html>