<%- include('partials/header.ejs')  %>
    <div class="flex flex-col items-center">
        <img src="images/thumbnail.png" class="h-72 w-72 rounded-lg shadow-sm">
        <div class="flex flex-col gap-0 p-1 w-[80vw] md:w-[50vw] mb-20 rounded-lg text-justify">
            <h1 class="text-lg text-black"><%= post.title  %></h1>
            <p class="text-sm text-gray-500 font-sans">
                <%= post.body %>
            </p>
        </div>
    </div>
<%- include('partials/footer.ejs')  %>